<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697803531622-b08snnjl7ifu281dg5lbo5fq8em0n1vr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697803531622-b08snnjl7ifu281dg5lbo5fq8em0n1vr</string>
	<key>API_KEY</key>
	<string>AIzaSyD8yiqIMED2oLn4BdC30TWKaJE6D2MaEU0</string>
	<key>GCM_SENDER_ID</key>
	<string>697803531622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationCrud</string>
	<key>PROJECT_ID</key>
	<string>flutter-test-7e8f6</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test-7e8f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697803531622:ios:6781b93b19b134c6e514a7</string>
</dict>
</plist>